body {
	background: #dfdfdf;

	font-family: arial, sans-serif;

	margin: 0px;
	padding: 0px;
}


header#mainHeader {
	background: #333;

	width: 100%;

	border-bottom: 3px solid #f2f2f2;
	padding: 15px 0px 10px 0px ;
}

div.headerContainer {
	width: 960px;
	margin: 0px auto;
}

div.logo {

	font-size: 20pt;
	font-weight: bolder;
	font-family: arial, sans-serif;
	color: #f2f2f2;
	text-transform: uppercase;
	width: 250px;
	display: inline-block;

}

nav#mainNav {
	display: inline-block;
	width: 300px;
}

nav#mainNav ul {
	list-style-type: none;
	font-size: 16pt;
}

nav#mainNav ul > li {
	display: inline;
	padding: 0px 30px 0px 0px;
}

nav#mainNav ul > li:after {
	content: '|';
	margin-left: 30px;
	color: #f2f2f2;
}

nav#mainNav ul > li:last-child {
	padding-right: 0px;
}

nav#mainNav ul > li:last-child:after {
	content: '';
}

nav#mainNav a {
	color: #f2f2f2;
	text-decoration: none;
}

nav#mainNav a:hover { 
	text-decoration: underline;
	color: #ff5600;
}

div#mainContainer {
	background: #f2f2f2;
	border: 1px solid #c0c0c0;
	border-radius: 20px;
	color: #ff4500;

	margin: 0px auto;
	margin-top: 20px;
	padding: 10px;	

	width: 900px;
}