
body {
    color: #333;
    font-family: helvetica, arial, sans-serif;
}

.wrapper { width: 960px; margin: 0px auto; margin-top: 15px;}

.globalBack {
    background: #f0f0f0;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}

header { 
    margin-bottom: 30px;
}

header, footer {
    width: 920;
    height: 100px;
}

header nav ul {
    margin-top: 30px;
    list-style-type: none;
    margin-left: 0px;
}

header nav ul > li {
    display: inline;
    padding-right: 20px;
}

header nav ul > li::after {
    content: '|';
    margin-left: 20px;
    color: orange;
}

header nav ul li:last-child::after {
    content: '';
    margin-left: 0px;
}

section.mainContent {
    display: inline-block;
    vertical-align: top; /* added because of inline-block */
    width: 630px;
    height: 400px;
    margin-right: 30px;
}

section.sideBar {
    display: inline-block;
    vertical-align: top; /* added because of inline-block */
    width: 295px;
    height: 400px;
    margin-left: 0px;
}

footer { 
    margin-top: 30px;
}



